---

---

<button class="reserve"> ご予約はこちら </button>

<style>
  .reserve {
    position: absolute;
    bottom: 120px;
    right: 60px;

    padding: 16px 20px;
    font-size: 32px;
    font-weight: 600;
    background-color: #fde047;
    color: #262626;
    border-radius: 200px;
    border: none;
    cursor: pointer;
    pointer-events: auto;

    box-shadow:
      0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px -1px rgba(0, 0, 0, 0.1),
      0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .reserve:hover {
    background-color: #facc15; /* 少し濃い黄色 */
  }
</style>
