---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
---

<div class="deck-container" data-swiper="horizontal">
  <ul class="swiper-wrapper decks" role="list" aria-roledescription="carousel">
    <slot />
  </ul>
</div>

<style>
  .deck-container {
      width: calc(100vh * 9 / 16);
  }
</style>

<script>
  import { Swiper } from "swiper";

  document
    .querySelectorAll('[data-swiper="horizontal"]')
    .forEach((container) => {
      if (!(container instanceof HTMLElement)) {
        return;
      }
      new Swiper(container, {
        direction: "horizontal",
        slidesPerView: 1,
        spaceBetween: 0,
        nested: true,
        touchReleaseOnEdges: true,  
      });
    });
</script>