---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
---

<div class="deck-container swiper" data-swiper="vertical">
  <ul class="deck swiper-wrapper" role="list" aria-roledescription="carousel">
    <slot />
  </ul>
</div>

<style>
  .deck-container {
    height: 100vh;
    overflow: hidden;
  }
  .deck {
    height: 100vh;
  }
</style>

<script>
  import { Swiper } from "swiper";
  import { Mousewheel } from "swiper/modules";

  document
    .querySelectorAll('[data-swiper="vertical"]')
    .forEach((container) => {
      if (!(container instanceof HTMLElement)) {
        return;
      }
      new Swiper(container, {
        modules: [Mousewheel],
        direction: "vertical",
        slidesPerView: 1,
        spaceBetween: 0,
        mousewheel: {
          enabled: true,
          forceToAxis: true,  // 横軸のみ認識
          thresholdDelta: 10,  // スクロール量の閾値を上げる
        },        
        touchReleaseOnEdges: true,
      });
    });
</script>