---
import "@/styles/reset.css";
const { title = "Landing Page" } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    margin: 0;
    display: flex;
    justify-content: center;
  }
</style>
